@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,700&display=swap");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  z-index: 2;
}

.menu.show {
  visibility: visible;
}

.menu.show body {
  overflow-y: hidden;
}

.menu-branding, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  float: left;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #cf7977;
  list-style: none;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.5s ease-out;
  font-size: 1.2rem;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #d68c8a;
  float: none;
  height: 25vh;
  width: 100%;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding .logo {
  width: 150px;
  height: 150px;
  background: url("../img/logo-sm.png");
  background-repeat: unset;
}

.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #a9484d;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #a9484d;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

body {
  background: #fff;
}

body .navs {
  min-height: 20vh;
}

body .navs .nav-widescreens {
  background: #a9484d;
  margin: 0;
  overflow: hidden;
}

body .navs .nav-widescreens .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1.5rem;
}

body .navs .nav-widescreens .nav-links .nav-link {
  margin: 0 2rem;
}

body .navs .nav-widescreens .nav-links .nav-link a {
  color: #fff;
}

body .navs .nav-widescreens .nav-links .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: none;
  overflow: hidden;
  color: #fff;
}

body .navs .nav-widescreens .nav-links .nav-logo h1 {
  font-size: 48px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin: 10px;
  line-height: 20px;
}

body .navs .nav-widescreens .nav-links .nav-logo p {
  font-size: 16px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
}

body .navs .nav-smallscreens {
  width: 100%;
  position: relative;
  background: #a9484d;
  overflow: hidden;
  height: 15vh;
}

body .navs .nav-smallscreens .nav-logo {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body .navs .nav-smallscreens .nav-logo h1 {
  font-size: 3rem;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin: 10px;
  line-height: 1.25rem;
  color: #fff;
}

body .navs .nav-smallscreens .nav-logo p {
  font-size: 1rem;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
  color: #fff;
}

body .navs .nav-smallscreens .menu-btn {
  top: 3.2rem;
}

.btn-lg {
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background: none;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-lg:hover::before, .btn-lg:hover::after {
  width: 105%;
  height: 120%;
  border: 0.02rem solid #fff;
}

.btn-lg::before, .btn-lg::after {
  content: "";
  width: 50%;
  height: 50%;
  border: 0.02rem solid #fff;
  position: absolute;
  transition: all .5s ease-in-out;
}

.btn-lg::before {
  top: 0;
  left: 0;
  border-right: transparent;
  border-bottom: transparent;
}

.btn-lg::after {
  bottom: 0;
  right: 0;
  border-left: transparent;
  border-top: transparent;
}

.btn-md {
  font-size: 0.9rem;
  letter-spacing: 3px;
  padding: 0.9rem 1.3rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  background: none;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-md:hover::before, .btn-md:hover::after {
  width: 105%;
  height: 120%;
}

.btn-md::before, .btn-md::after {
  content: "";
  width: 50%;
  height: 50%;
  border: 0.02rem solid #000;
  position: absolute;
  transition: all .5s ease-in-out;
}

.btn-md::before {
  top: 0;
  left: 0;
  border-right: transparent;
  border-bottom: transparent;
}

.btn-md::after {
  bottom: 0;
  right: 0;
  border-left: transparent;
  border-top: transparent;
}

.btn-md-light {
  font-size: 0.9rem;
  letter-spacing: 3px;
  padding: 0.9rem 1.3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background: none;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-md-light:hover::before, .btn-md-light:hover::after {
  width: 99%;
  height: 99%;
}

.btn-md-light::before, .btn-md-light::after {
  content: "";
  width: 50%;
  height: 50%;
  border: 0.02rem solid #fff;
  position: absolute;
  transition: all .5s ease-in-out;
}

.btn-md-light::before {
  top: 0;
  left: 0;
  border-right: transparent;
  border-bottom: transparent;
}

.btn-md-light::after {
  bottom: 0;
  right: 0;
  border-left: transparent;
  border-top: transparent;
}

.modal-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  padding: 1.8rem;
  background: #000000;
  border-radius: 50px 0px 0px 0px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal-btn:hover {
  opacity: 0.8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
  line-height: 1.5;
  background: #fef3f4;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 78px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 59px;
  color: #a9484d;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
}

.showcase {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: #fff;
  margin-bottom: 0;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}

.showcase .nav-smallscreens {
  width: 100%;
  position: relative;
}

.showcase .nav-smallscreens .nav-logo {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.showcase .nav-smallscreens .nav-logo h1 {
  font-size: 3rem;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1.25rem;
  color: #fff;
}

.showcase .nav-smallscreens .nav-logo p {
  font-size: 1rem;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
  color: #fff;
}

.showcase .nav-widescreens .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1.5rem;
}

.showcase .nav-widescreens .nav-links .nav-link {
  margin: 0 2rem;
}

.showcase .nav-widescreens .nav-links .nav-link a {
  color: #fff;
}

.showcase .nav-widescreens .nav-links .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: none;
  overflow: hidden;
}

.showcase .nav-widescreens .nav-links .nav-logo h1 {
  font-size: 48px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin: 10px;
  line-height: 20px;
}

.showcase .nav-widescreens .nav-links .nav-logo p {
  font-size: 16px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
}

.showcase .nav-smallscreens .nav-logo h1 {
  font-size: 48px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin: 10px;
  line-height: 20px;
}

.showcase .nav-smallscreens .nav-logo p {
  font-size: 16px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
}

.showcase .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
  margin-top: 0;
}

.showcase .hero .container {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase .hero .container h1 {
  margin: 5rem 0;
  text-align: center;
}

.ourport {
  background: #fef3f4;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem 1.5rem;
  height: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 0;
}

.ourport-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourport-left .container {
  margin-left: 1.5rem;
  min-height: 13.2rem;
}

.ourport-left .container h2 {
  text-align: left;
  margin-bottom: 4rem;
}

.ourport-left .container .btn-md {
  margin-left: 0.5rem;
}

.ourport .imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ourport .imgs img {
  height: 17.5rem;
  width: 13.4375rem;
  margin: 1rem 3rem;
}

.why {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
  padding: 4rem 1.5rem;
  width: 100%;
  overflow: hidden;
}

.why-left {
  display: flex;
  align-self: center;
  justify-self: flex-end;
}

.why-left .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.why-left .container h3 {
  text-align: left;
  width: 400px;
}

.why-left .container .why-img {
  width: 400px;
  height: 520px;
  background-image: url(../img/surprise4.jpg);
  background-position: center;
}

.why-right {
  display: flex;
  align-self: center;
  justify-self: flex-start;
}

.why-right .container {
  width: 60%;
  margin-top: 8rem;
  height: 520px;
}

.why-right .container p {
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 3rem;
}

.why-right .container .btn-md {
  float: left;
  margin-left: 0.3rem;
}

.testimonials {
  background: #fef3f4;
  padding: 6rem 1.5rem;
  width: 100%;
  height: auto;
}

.testimonials .container {
  width: 100%;
  height: 20vh;
}

.testimonials .container h2 {
  margin-left: 1.3rem;
}

.testimonials .test-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.testimonials .test-cards .test-card {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 390px;
  background: #fff;
  border-radius: 3px;
}

.testimonials .test-cards .test-card img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 1rem;
}

.testimonials .test-cards .test-card p {
  text-align: center;
  width: 10.6rem;
  margin-bottom: 3rem;
}

.testimonials .test-cards .test-card .line {
  height: 1px;
  width: 58px;
  background-color: #a9484d;
}

.testimonials .test-cards .test-card .person {
  margin-bottom: 0;
}

.testimonials .test-cards .test-card .location {
  color: #aaa;
  margin-bottom: 1rem;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100%;
}

.question .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 6rem 1.5rem;
  text-align: center;
}

.question .container h2 {
  margin-bottom: 2rem;
}

.question .container p {
  text-align: center;
  margin-bottom: 4rem;
}

.footer {
  height: 20vh;
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  background: #000;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.footer .copyright p {
  display: inline;
  font-size: 14px;
  color: #fff;
  margin: auto 0;
}

.footer .socials a i {
  size: 8px;
  padding: 4px 6px;
  margin: 0 2px;
  color: #000;
  background: #fff;
  border: 1px #fff solid;
  border-radius: 100%;
  cursor: pointer;
}

#contact {
  background: #fff;
}

#contact .navs {
  min-height: 20vh;
}

#contact .navs .nav-widescreens {
  background: #a9484d;
  margin: 0;
  overflow: hidden;
}

#contact .navs .nav-widescreens .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1.5rem;
}

#contact .navs .nav-widescreens .nav-links .nav-link {
  margin: 0 2rem;
}

#contact .navs .nav-widescreens .nav-links .nav-link a {
  color: #fff;
}

#contact .navs .nav-widescreens .nav-links .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: none;
  overflow: hidden;
  color: #fff;
}

#contact .navs .nav-widescreens .nav-links .nav-logo h1 {
  font-size: 48px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin: 10px;
  line-height: 20px;
}

#contact .navs .nav-widescreens .nav-links .nav-logo p {
  font-size: 16px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
}

#contact .navs .nav-smallscreens {
  width: 100%;
  position: relative;
  background: #a9484d;
  overflow: hidden;
  height: 15vh;
}

#contact .navs .nav-smallscreens .nav-logo {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact .navs .nav-smallscreens .nav-logo h1 {
  font-size: 3rem;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin: 10px;
  line-height: 1.25rem;
  color: #fff;
}

#contact .navs .nav-smallscreens .nav-logo p {
  font-size: 1rem;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
  color: #fff;
}

#contact .navs .nav-smallscreens .menu-btn {
  top: 3.2rem;
}

#contact main {
  padding-top: 1rem;
  padding-bottom: 4.5rem;
  width: 100%;
}

#contact main .heading {
  display: flex;
  align-items: flex-start;
}

#contact main .heading .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 50%;
}

#contact main .boxes {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 6rem;
}

#contact main .boxes .info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: 0.02rem #000 solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
}

#contact main .boxes .info-box i {
  color: #000;
  min-width: 35px;
  min-height: 35px;
  margin: 0;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

#services {
  background: #fff;
}

#services main {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
}

#services main .heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

#services main .heading .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0;
}

#services main .heading .container h2 {
  margin-top: 4rem;
}

#services main .services-boxes {
  width: 100%;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 3rem;
}

#services main .services-boxes-box1 {
  width: 31.25rem;
  height: 20.75rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../img/ProposalPlanning.jpg");
  position: relative;
  background-origin: center;
  grid-row: 1/2;
  grid-column: 1/2;
}

#services main .services-boxes-box1 h1 {
  position: absolute;
  top: 5px;
  left: 2px;
  font-size: 2.7rem;
  color: #fff;
  width: 50%;
}

#services main .services-boxes-box1 .modal-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

#services main .services-boxes-box2 {
  width: 31.25rem;
  height: 20.75rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../img/Surprise Breakfasts.jpg");
  position: relative;
  background-origin: center;
}

#services main .services-boxes-box2 h1 {
  position: absolute;
  top: 5px;
  left: 2px;
  font-size: 2.7rem;
  color: #fff;
  width: 50%;
}

#services main .services-boxes-box2 .modal-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

#services main .services-boxes-box3 {
  width: 31.25rem;
  height: 20.75rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../img/Surprise Trip.jpg");
  position: relative;
  background-origin: center;
}

#services main .services-boxes-box3 h1 {
  position: absolute;
  top: 5px;
  left: 2px;
  font-size: 2.7rem;
  color: #fff;
  width: 50%;
}

#services main .services-boxes-box3 .modal-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

#services main .services-boxes-box4 {
  width: 31.25rem;
  height: 20.75rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../img/Surprise Date.jpg");
  position: relative;
  background-origin: center;
}

#services main .services-boxes-box4 h1 {
  position: absolute;
  top: 5px;
  left: 2px;
  font-size: 2.7rem;
  color: #fff;
  width: 50%;
}

#services main .services-boxes-box4 .modal-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

#services main .services-boxes-box5 {
  width: 31.25rem;
  height: 20.75rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../img/Surprise-Hotel-Decor.jpg");
  position: relative;
  background-origin: center;
  grid-column: 1/3;
  grid-row: 4/5;
}

#services main .services-boxes-box5 h1 {
  position: absolute;
  top: 5px;
  left: 2px;
  font-size: 2.7rem;
  color: #fff;
  width: 50%;
}

#services main .services-boxes-box5 .modal-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

#services .infopopups {
  z-index: 3;
  height: 100%;
  width: 100%;
  position: relative;
  position: fixed;
  display: none;
}

#services .infopopups.show {
  display: flex;
}

#services .infopopups .popup {
  z-index: 4;
  position: absolute;
  top: 0.5%;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 4rem;
  width: 60%;
  margin-bottom: 15rem;
}

#services .infopopups .popup .container {
  width: 80%;
  height: 80%;
}

#services .infopopups .popup .container .close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 3rem;
  transform: rotate(45deg);
  cursor: pointer;
}

#services .infopopups .popup .container .heading h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 59px;
  text-transform: none;
  text-align: left;
}

#services .infopopups .popup .container .reviews {
  display: flex;
  align-items: inline;
  margin: 2rem 0;
}

#services .infopopups .popup .container .reviews .stars {
  color: #FFE41F;
  margin-top: 0.45rem;
}

#services .infopopups .popup .container .reviews .stars i {
  font-size: 1rem;
  margin-right: 0.4rem;
}

#services .infopopups .popup .container .reviews .numbers {
  margin-left: 1.5rem;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services .infopopups .popup .container .reviews .numbers p {
  font-size: 1.5rem;
}

#services .infopopups .popup .container .reviews .numbers span {
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.95);
  margin-left: 0.5rem;
  margin-top: 0.17rem;
}

#services .infopopups .popup .container .tabs .tab-info {
  width: 100%;
}

#services .infopopups .popup .container .tabs .tab-info.close {
  display: none;
}

#services .infopopups .popup .container .tabs .tab-info nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#services .infopopups .popup .container .tabs .tab-info nav .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 20%);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0;
  justify-items: start;
  align-items: center;
}

#services .infopopups .popup .container .tabs .tab-info nav .container p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 0;
  overflow: hidden;
  cursor: pointer;
}

#services .infopopups .popup .container .tabs .tab-info nav .container .dot {
  width: 10.42px;
  height: 10px;
  background: #a9484d;
  border-radius: 50%;
}

#services .infopopups .popup .container .tabs .tab-info nav .container :nth-child(3) {
  margin-left: 25.73px;
  margin-right: 25.73px;
}

#services .infopopups .popup .container .tabs .tab-info nav .container :nth-child(4) {
  margin-left: 47.21px;
  margin-right: 47.21px;
  background: #000;
}

#services .infopopups .popup .container .tabs .tab-info .text p {
  font-size: 1.125rem;
  margin: 4rem 0;
  color: rgba(255, 255, 255, 0.95);
}

#services .infopopups .popup .container .tabs .tab-photo {
  width: 100%;
}

#services .infopopups .popup .container .tabs .tab-photo.close {
  display: none;
}

#services .infopopups .popup .container .tabs .tab-photo nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#services .infopopups .popup .container .tabs .tab-photo nav .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 20%);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0;
  justify-items: start;
  align-items: center;
}

#services .infopopups .popup .container .tabs .tab-photo nav .container p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 0;
  overflow: hidden;
  cursor: pointer;
}

#services .infopopups .popup .container .tabs .tab-photo nav .container .dot {
  width: 10.42px;
  height: 10px;
  background: #a9484d;
  border-radius: 50%;
}

#services .infopopups .popup .container .tabs .tab-photo nav .container :nth-child(3) {
  margin-left: 25.73px;
  margin-right: 25.73px;
  background: #000;
}

#services .infopopups .popup .container .tabs .tab-photo nav .container :nth-child(4) {
  margin-left: 47.21px;
  margin-right: 47.21px;
}

#services .infopopups .popup .container .tabs .tab-photo .photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  margin: 3rem 0;
}

#services .infopopups .popup .container .tabs .tab-photo .photos img {
  height: 200px;
  width: 150px;
}

#services .infopopups .popup .container .btn-md {
  color: #fff;
}

#about {
  background-color: #fff;
}

#about .navs {
  min-height: 20vh;
}

#about .navs .nav-widescreens {
  background: #a9484d;
  margin: 0;
  overflow: hidden;
}

#about .navs .nav-widescreens .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1.5rem;
}

#about .navs .nav-widescreens .nav-links .nav-link {
  margin: 0 2rem;
}

#about .navs .nav-widescreens .nav-links .nav-link a {
  color: #fff;
}

#about .navs .nav-widescreens .nav-links .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: none;
  overflow: hidden;
  color: #fff;
}

#about .navs .nav-widescreens .nav-links .nav-logo h1 {
  font-size: 48px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin: 10px;
  line-height: 20px;
}

#about .navs .nav-widescreens .nav-links .nav-logo p {
  font-size: 16px;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
}

#about .navs .nav-smallscreens {
  width: 100%;
  position: relative;
  background: #a9484d;
  overflow: hidden;
  height: 15vh;
}

#about .navs .nav-smallscreens .nav-logo {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about .navs .nav-smallscreens .nav-logo h1 {
  font-size: 3rem;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin: 10px;
  line-height: 1.25rem;
  color: #fff;
}

#about .navs .nav-smallscreens .nav-logo p {
  font-size: 1rem;
  font-family: 'Source Serif Pro';
  text-transform: uppercase;
  margin-top: none;
  font-weight: 400;
  color: #fff;
}

#about .navs .nav-smallscreens .menu-btn {
  top: 3.2rem;
}

#about main {
  padding-top: 1rem;
  padding-bottom: 4.5rem;
  width: 100%;
}

#about main .heading {
  display: flex;
  align-content: flex-start;
  width: 100%;
}

#about main .heading .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 30%;
}

#about main .videosection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 8rem 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#about main .videosection .container {
  width: 48%;
}

#about main .videosection .container .video {
  outline: none;
  border: none;
}

#about main .icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

#about main .icons .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about main .icons .container .icon1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  border-right: #a9484d 1px solid;
}

#about main .icons .container .icon1 img {
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}

#about main .icons .container .icon1 h3 {
  margin-top: 0.1rem;
  width: 60%;
  text-align: center;
  text-transform: none;
}

#about main .icons .container .icon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  border-right: #a9484d 1px solid;
}

#about main .icons .container .icon2 img {
  margin-top: 0.7rem;
  height: 4rem;
  width: 4rem;
  margin-bottom: 0.5rem;
}

#about main .icons .container .icon2 h3 {
  margin-top: 1rem;
  width: 60%;
  text-align: center;
  text-transform: none;
}

#about main .icons .container .icon3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  border-right: #a9484d 1px solid;
}

#about main .icons .container .icon3 img {
  height: 6.25rem;
  width: 6.25rem;
  margin-bottom: 0;
}

#about main .icons .container .icon3 h3 {
  width: 60%;
  text-align: center;
  text-transform: none;
  margin-top: 0;
}

#about main .icons .container .icon4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  border-right: #a9484d 1px solid;
}

#about main .icons .container .icon4 img {
  height: 3.75rem;
  width: 3.75rem;
  margin-bottom: 1rem;
  margin-top: 0.6rem;
}

#about main .icons .container .icon4 h3 {
  margin-top: 0.85rem;
  width: 60%;
  text-align: center;
  text-transform: none;
}

#about main .icons .container .icon5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}

#about main .icons .container .icon5 img {
  margin-top: 0.5rem;
  height: 3.75rem;
  width: 3.75rem;
  margin-bottom: 1rem;
}

#about main .icons .container .icon5 h3 {
  margin-top: 0.85rem;
  width: 60%;
  text-align: center;
  text-transform: none;
}

#about main .ainfo {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
  padding: 4rem 1.5rem;
  width: 100%;
  overflow: hidden;
}

#about main .ainfo-left {
  display: flex;
  align-self: center;
  flex-direction: column;
}

#about main .ainfo-left .container {
  margin-left: 18rem;
}

#about main .ainfo-left .container h3 {
  text-transform: none;
}

#about main .ainfo-left .container .line {
  margin: 1.5rem 0;
  height: 1px;
  width: 12%;
  background: #a9484d;
}

#about main .ainfo-left :nth-child(2) {
  margin-top: 6rem;
}

#about main .ainfo-right {
  width: 100%;
  display: flex;
  align-self: center;
}

#about main .ainfo-right .container {
  width: 100%;
}

#about main .ainfo-right .container img {
  margin-left: 4rem;
  width: 60%;
  height: 44.8rem;
}

@media screen and (min-width: 1171px) {
  .nav-smallscreens {
    display: none;
  }
  #contact main .heading {
    align-items: center;
  }
  #contact main .heading .container {
    width: 25%;
  }
  #contact main .boxes .info-box {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .nav-smallscreens {
    display: none;
  }
  .nav-widescreens .nav-links .nav-link {
    font-size: 14px;
  }
  .ourport {
    grid-template-columns: 1fr 1fr;
  }
  .ourport .container .btn-md {
    margin-bottom: 0.5rem;
  }
  .why {
    grid-gap: 3.2rem;
  }
  .why-right {
    justify-self: center;
    align-items: center;
    justify-content: center;
  }
  .why-right .container {
    margin-top: 8.45rem;
    width: 70%;
  }
  .why-right .container p {
    font-size: 14px;
  }
  .why-left {
    justify-self: center;
  }
  .why-left .container {
    margin-left: 4rem;
  }
  .why-left .container h3 {
    font-size: 20px;
    width: 90%;
  }
  .why-left .container .why-img {
    width: 333px;
    width: 90%;
  }
  .testimonials .test-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4rem;
  }
  .testimonials .test-cards .test-card:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .testimonials .test-cards .test-card:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .testimonials .test-cards .test-card:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  #services main .heading {
    display: flex;
  }
  #services main .services-boxes {
    margin: 8rem 0;
    grid-gap: 2rem;
  }
  #services main .services-boxes-box1 {
    width: 23rem;
    height: 16.6rem;
    margin-right: 0;
  }
  #services main .services-boxes-box1 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services main .services-boxes-box2 {
    width: 23rem;
    height: 16.6rem;
    margin-left: 0;
  }
  #services main .services-boxes-box2 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services main .services-boxes-box3 {
    width: 23rem;
    height: 16.6rem;
  }
  #services main .services-boxes-box3 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services main .services-boxes-box4 {
    width: 23rem;
    height: 16.6rem;
  }
  #services main .services-boxes-box4 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services main .services-boxes-box5 {
    width: 25rem;
    height: 16.6rem;
  }
  #services main .services-boxes-box5 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services .infopopups .popup {
    right: 10%;
    width: 80%;
  }
  #services .infopopups .popup .container {
    width: 85%;
  }
  #services .infopopups .popup .container .heading h3 {
    font-size: 2.7rem;
  }
  #services .infopopups .popup .container .reviews .stars i {
    font-size: 0.9rem;
  }
  #services .infopopups .popup .container .reviews .numbers p {
    font-size: 1.35rem;
  }
  #services .infopopups .popup .container .reviews .numbers span {
    font-size: 1.01rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container p {
    font-size: 1.35rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container .dot {
    width: 0.59rem;
    height: 0.56rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container :nth-child(3) {
    margin-left: 1.62rem;
    margin-right: 1.63rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container :nth-child(4) {
    margin-left: 2.89rem;
    margin-right: 2.89rem;
  }
  #services .infopopups .popup .container .tabs .tab-info .text p {
    font-size: 1.0125rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container p {
    font-size: 1.35rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container .dot {
    width: 0.59rem;
    height: 0.56rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container :nth-child(3) {
    margin-left: 1.62rem;
    margin-right: 1.63rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container :nth-child(4) {
    margin-left: 2.89rem;
    margin-right: 2.89rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos img {
    height: 11.25rem;
    width: 8.44rem;
  }
  #services .infopopups .popup .container .btn-md {
    color: #fff;
  }
  .modal-btn {
    font-size: 1.2rem;
    padding: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-widescreens {
    display: none;
  }
  .showcase .hero {
    margin-top: 0rem;
  }
  .showcase .hero .container h1 {
    font-size: 3rem;
  }
  .ourport {
    grid-template-columns: 1fr;
  }
  .ourport-left .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 0;
  }
  .ourport .imgs img {
    margin: 1.5rem 3rem;
  }
  .why {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .why-left {
    justify-self: center;
  }
  .why-left .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .why-left .container h3 {
    text-align: center;
  }
  .why-left .container .why-img {
    display: none;
  }
  .why-right {
    justify-self: center;
  }
  .why-right .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
  }
  .why-right .container p {
    text-align: center;
    font-size: 1rem;
  }
  .why-right .container .btn-md {
    float: none;
  }
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .testimonials .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .testimonials .container h2 {
    margin-left: 0;
  }
  .testimonials .test-cards {
    grid-template-columns: 1fr;
  }
  .footer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer .copyright p {
    margin: 1rem;
  }
  .footer .copyright .socials {
    margin-top: 1rem;
  }
  #contact main .heading {
    align-items: center;
  }
  #contact main .heading .container {
    width: 100%;
  }
  #contact main .boxes .info-box {
    font-size: 1.2rem;
  }
  #services main .heading {
    display: flex;
    align-items: center;
  }
  #services main .heading .container {
    width: 100%;
  }
  #services main .services-boxes {
    margin: 8rem 0;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  #services main .services-boxes-box1 {
    width: 25rem;
    height: 16.6rem;
    margin-right: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #services main .services-boxes-box1 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services main .services-boxes-box2 {
    width: 25rem;
    height: 16.6rem;
    margin-left: 0;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #services main .services-boxes-box2 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services main .services-boxes-box3 {
    width: 25rem;
    height: 16.6rem;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #services main .services-boxes-box3 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services main .services-boxes-box4 {
    width: 25rem;
    height: 16.6rem;
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #services main .services-boxes-box4 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services main .services-boxes-box5 {
    width: 25rem;
    height: 16.6rem;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #services main .services-boxes-box5 h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #services .infopopups .popup {
    right: 5%;
    width: 85%;
  }
  #services .infopopups .popup .container {
    width: 85%;
  }
  #services .infopopups .popup .container .heading h3 {
    font-size: 2rem;
  }
  #services .infopopups .popup .container .reviews .stars i {
    font-size: 0.7rem;
  }
  #services .infopopups .popup .container .reviews .numbers {
    margin-top: 0.13rem;
  }
  #services .infopopups .popup .container .reviews .numbers p {
    font-size: 1rem;
  }
  #services .infopopups .popup .container .reviews .numbers span {
    margin-top: 0.1rem;
    font-size: 0.8rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container p {
    font-size: 1rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container .dot {
    width: 0.59rem;
    height: 0.56rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container :nth-child(3) {
    margin-left: 1.15rem;
    margin-right: 1.15rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container :nth-child(4) {
    margin-left: 2.65rem;
    margin-right: 2.65rem;
  }
  #services .infopopups .popup .container .tabs .tab-info .text p {
    font-size: 0.9rem;
    margin: 2rem 0;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container p {
    font-size: 1rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container .dot {
    width: 0.59rem;
    height: 0.56rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container :nth-child(3) {
    margin-left: 1.44rem;
    margin-right: 1.44rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container :nth-child(4) {
    margin-left: 2.2rem;
    margin-right: 2.2rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos img {
    height: 10.25rem;
    width: 7.44rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos img:nth-child(1) {
    justify-self: start;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos img:nth-child(2) {
    justify-self: start;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos img:nth-child(3) {
    display: none;
  }
  #services .infopopups .popup .container .btn-md {
    color: #fff;
  }
  .modal-btn {
    font-size: 1.2rem;
    padding: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .btn-lg {
    margin: 1rem;
  }
  .btn-md {
    font-size: 12.8px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .showcase .nav-smallscreens .nav-logo h1 {
    font-size: 2rem;
    line-height: 0.83rem;
  }
  .showcase .nav-smallscreens .nav-logo p {
    font-size: 0.66rem;
  }
  .showcase .nav-smallscreens .menu-btn .btn-line {
    width: 18px;
    height: 2px;
  }
  .showcase .nav-smallscreens .menu-btn.close .btn-line {
    width: 28px;
    height: 3px;
  }
  .showcase .hero .container h1 {
    font-size: 2rem;
  }
  .showcase .hero .container .btn-lg {
    font-size: 1rem;
  }
  .ourport-left .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ourport-left .container h2 {
    text-align: center;
  }
  .ourport-left .container .btn-md {
    margin: none;
  }
  .ourport .imgs img {
    height: 13.125rem;
    width: 10.078125rem;
  }
  .why {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .why-left .container h3 {
    width: auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  .why-right .container {
    height: auto;
  }
  .why-right .container p {
    font-size: 0.8rem;
  }
  .why-right .container .btn-md {
    margin-bottom: 0.4rem;
  }
  .testimonials .test-cards .test-card {
    width: 187.5px;
    height: 292.5px;
  }
  .testimonials .test-cards .test-card img {
    width: 52.5px;
    height: 52.5px;
  }
  .testimonials .test-cards .test-card p {
    font-size: 0.8rem;
  }
  .testimonials .test-cards .test-card .line {
    width: 43.5px;
  }
  .testimonials .test-cards .test-card .person {
    font-size: 0.8rem;
  }
  .testimonials .test-cards .test-card .location {
    font-size: 0.8rem;
  }
  .question .container {
    width: 90%;
    padding: 6rem 1.5rem;
  }
  .question .container h2 {
    margin-bottom: 3rem;
  }
  .question .container p {
    margin-bottom: 3rem;
  }
  #contact {
    height: 100%;
  }
  #contact .navs .nav-smallscreens {
    height: 13vh;
  }
  #contact .navs .nav-smallscreens .nav-logo h1 {
    font-size: 2rem;
    line-height: 0.83rem;
  }
  #contact .navs .nav-smallscreens .nav-logo p {
    font-size: 0.66rem;
  }
  #contact .navs .nav-smallscreens .menu-btn {
    top: 3rem;
  }
  #contact .navs .nav-smallscreens .menu-btn .btn-line {
    width: 18px;
    height: 2px;
  }
  #contact .navs .nav-smallscreens .menu-btn.close .btn-line {
    width: 28px;
    height: 3px;
  }
  #contact main .heading .container p {
    font-size: 0.8rem;
  }
  #contact main .boxes .info-box {
    font-size: 0.9rem;
    padding: 1rem 2rem;
  }
  #contact main .boxes .info-box i {
    margin-right: 1rem;
    margin-top: 1.1rem;
  }
  .navs .nav-smallscreens {
    height: 13vh;
  }
  .navs .nav-smallscreens .nav-logo h1 {
    font-size: 2rem;
    line-height: 0.83rem;
  }
  .navs .nav-smallscreens .nav-logo p {
    font-size: 0.66rem;
  }
  .navs .nav-smallscreens .menu-btn {
    top: 3rem;
  }
  .navs .nav-smallscreens .menu-btn .btn-line {
    width: 18px;
    height: 2px;
  }
  .navs .nav-smallscreens .menu-btn.close .btn-line {
    width: 28px;
    height: 3px;
  }
  #services .navs .nav-smallscreens {
    height: 13vh;
  }
  #services .navs .nav-smallscreens .nav-logo h1 {
    font-size: 2rem;
    line-height: 0.83rem;
  }
  #services .navs .nav-smallscreens .nav-logo p {
    font-size: 0.66rem;
  }
  #services .navs .nav-smallscreens .menu-btn {
    top: 3rem;
  }
  #services .navs .nav-smallscreens .menu-btn .btn-line {
    width: 18px;
    height: 2px;
  }
  #services .navs .nav-smallscreens .menu-btn.close .btn-line {
    width: 28px;
    height: 3px;
  }
  #services main .heading {
    display: flex;
    align-items: center;
  }
  #services main .heading .container {
    width: 100%;
  }
  #services main .services-boxes {
    margin: 8rem 0;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  #services main .services-boxes-box1 {
    height: 25rem;
    width: 16.6rem;
    margin-right: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #services main .services-boxes-box1 h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 1rem;
  }
  #services main .services-boxes-box2 {
    height: 25rem;
    width: 16.6rem;
    margin-left: 0;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #services main .services-boxes-box2 h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 1rem;
  }
  #services main .services-boxes-box3 {
    height: 25rem;
    width: 16.6rem;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #services main .services-boxes-box3 h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 1rem;
  }
  #services main .services-boxes-box4 {
    height: 25rem;
    width: 16.6rem;
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #services main .services-boxes-box4 h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 1rem;
  }
  #services main .services-boxes-box5 {
    height: 25rem;
    width: 16.6rem;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #services main .services-boxes-box5 h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 1rem;
  }
  #services .infopopups .popup {
    right: 8%;
    width: 85%;
    padding: 2rem;
  }
  #services .infopopups .popup .container {
    width: 85%;
  }
  #services .infopopups .popup .container .heading h3 {
    font-size: 1.8rem;
  }
  #services .infopopups .popup .container .reviews .stars i {
    font-size: 0.8rem;
  }
  #services .infopopups .popup .container .reviews .numbers {
    margin-top: 0.35rem;
    margin-left: 0.8rem;
  }
  #services .infopopups .popup .container .reviews .numbers p {
    font-size: 0.8rem;
  }
  #services .infopopups .popup .container .reviews .numbers span {
    margin-top: 0.18rem;
    font-size: 0.6rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container p {
    font-size: 0.8rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container .dot {
    width: 0.39rem;
    height: 0.36rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container :nth-child(3) {
    margin-left: 0.84rem;
    margin-right: 0.84rem;
  }
  #services .infopopups .popup .container .tabs .tab-info nav .container :nth-child(4) {
    margin-left: 2.89rem;
    margin-right: 2.89rem;
  }
  #services .infopopups .popup .container .tabs .tab-info .text p {
    font-size: 0.8rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container p {
    font-size: 0.8rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container .dot {
    width: 0.39rem;
    height: 0.36rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container :nth-child(3) {
    margin-left: 0.84rem;
    margin-right: 0.84rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo nav .container :nth-child(4) {
    margin-left: 1.55rem;
    margin-right: 1.55rem;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #services .infopopups .popup .container .tabs .tab-photo .photos img {
    height: 8.25rem;
    width: 5.44rem;
  }
  #services .infopopups .popup .container .btn-md-light {
    color: #fff;
    font-size: 0.6rem;
  }
  .modal-btn {
    font-size: 1.1rem;
    padding: 1.2rem;
  }
}
