

.btn-lg{
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 1rem 1.5rem;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  background: none;
  position: relative;
  border:none;
  cursor: pointer;
  outline: none;

  &:hover::before, &:hover::after{
    width:105%;
    height:120%;
    border: 0.02rem solid #fff;
  }

  &::before, &::after{
    content:"";
    width:50%;
    height:50%;
    border: 0.02rem solid #fff;
    position: absolute;
    transition: all .5s ease-in-out;
  }

  &::before{
    top:0;
    left:0;
    border-right:transparent;
    border-bottom:transparent;
  }
  &::after{
    bottom:0;
    right:0;
    border-left:transparent;
    border-top:transparent;
  }
}

.btn-md{
  font-size: 0.9rem;
  letter-spacing: 3px;
  padding: 0.9rem 1.3rem;
  color:#000;
  text-transform: uppercase;
  text-align: center;
  background: none;
  position: relative;
  border:none;
  cursor: pointer;
  outline: none;

  &:hover::before, &:hover::after{
    width:105%;
    height:120%;
  }

  &::before, &::after{
    content:"";
    width:50%;
    height:50%;
    border: 0.02rem solid #000;
    position: absolute;
    transition: all .5s ease-in-out;
  }

  &::before{
    top:0;
    left:0;
    border-right:transparent;
    border-bottom:transparent;
  }
  &::after{
    bottom:0;
    right:0;
    border-left:transparent;
    border-top:transparent;
  }
}

.btn-md-light{
  font-size: 0.9rem;
  letter-spacing: 3px;
  padding: 0.9rem 1.3rem;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  background: none;
  position: relative;
  border:none;
  cursor: pointer;
  outline: none;

  &:hover::before, &:hover::after{
    width:99%;
    height:99%;
  }

  &::before, &::after{
    content:"";
    width:50%;
    height:50%;
    border: 0.02rem solid #fff;
    position: absolute;
    transition: all .5s ease-in-out;
  }

  &::before{
    top:0;
    left:0;
    border-right:transparent;
    border-bottom:transparent;
  }
  &::after{
    bottom:0;
    right:0;
    border-left:transparent;
    border-top:transparent;
  }
}

.modal-btn{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  padding: 2rem;
  background: #000000;
  border-radius: 50px 0px 0px 0px;
  color: #fff;
  border:none;
  cursor: pointer;
  outline: none;

  &:hover{
    opacity: 0.8;
  }
}

