// button styles

.btn-lg{
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 1rem;
  border: 0.02rem solid #fff;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  
}
.btn-md{
  font-family: 'Montserrat';
  letter-spacing: 3px;
  font-size: 0.9rem;
  padding: 0.9rem;
  border: 0.02rem solid #000;
  text-transform: uppercase;
  color:#000;
  text-align: center;
  cursor: pointer;
}
