// wide screens

@include mediaXl{
  .nav-smallscreens{
    display: none;
  }
  // CONTACT
  #contact{
    main{
      .heading{
        align-items: center;
        .container{
          width:25%;
        }
      }
      .boxes{
        .info-box{
          margin-bottom: 4rem;
        }
      }
    }
  }

}

// Desktops & laptops

@include mediaLg{
  // Nav
  .nav-smallscreens{
    display: none;
  }
  .nav-widescreens{
    .nav-links{
      .nav-link{
        font-size:14px;

      }
    //   .nav-logo{
    //     h1{
    //       font-size: 42px;
    //     }
  
    //     p{
    //       font-size: 14px;     
    //     }
        
    // }
    }
  }
  .ourport{
    grid-template-columns: 1fr 1fr;
    .container{
      .btn-md{
        margin-bottom:0.5rem;
      }
    }
      
  }

  .why{
    grid-gap:3.2rem;
    &-right{
      justify-self: center;
      @include center;
      .container{
        margin-top:8.45rem;
        width: 70%;
        p{
          font-size: 14px;
        }
        
      }
    }

    &-left{
      justify-self: center;
      .container{
        margin-left:4rem;
        h3{
          font-size:20px;
          width: 90%;
        }
        .why-img{
          width:333px;
          width: 90%;
        }
      }
    }
  }

  .testimonials{
    .test-cards{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 4rem;

      .test-card{
      &:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/2;
      }
      &:nth-child(3){
        grid-column: 1/3;
        grid-row: 2/3;
      }

      }
    }
  }

  // Services Page

  #services{
    main{
      .heading{
        display: flex;
        
        .container{
          width: 50%;
        }
      }

      .services-boxes{
        margin: 8rem 0;
        grid-gap: 2rem;
        &-box1{
          width: 23rem;
          height: 16.6rem;
          margin-right:0;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        &-box2{
          width: 23rem;
          height: 16.6rem;
          margin-left: 0;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        &-box3{
          width: 23rem;
          height: 16.6rem;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        &-box4{
          width: 23rem;
          height: 16.6rem;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        &-box5{
          width: 25rem;
          height: 16.6rem;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
      }
    }

    //POPUPS
    .infopopups{

      .popup{
        right: 10%;
        width: 80%;

        .container{
          width: 85%;

          .heading{
            h3{
              font-size: 2.7rem;
            }
          }

          .reviews{
            
            .stars{
              
              i{
                font-size: 0.9rem;
              }
            }
            .numbers{
              
              p{
                font-size: 1.35rem;
              }
              span{
                font-size: 1.01rem;
              }
            }
          }

          .tabs{
            .tab-info{
              
              nav{
                
                .container{
                  
                  p{
                    font-size: 1.35rem;
                  }

                  .dot{
                    width: 0.59rem;
                    height: 0.56rem;
                  }

                  :nth-child(3){
                    margin-left:1.62rem;
                    margin-right:1.63rem;

                  }
                  :nth-child(4){
                    margin-left:2.89rem;
                    margin-right:2.89rem;
                  }

                }
              }
              .text{
                p{
                  font-size: 1.0125rem;
                }
              }
            }

            .tab-photo{
              
              nav{
                
                .container{
                  
                  p{
                    font-size: 1.35rem;
                  }

                  .dot{
                    width: 0.59rem;
                    height: 0.56rem;
                  }

                  :nth-child(3){
                    margin-left:1.62rem;
                    margin-right:1.63rem;
                  }
                  :nth-child(4){
                    margin-left:2.89rem;
                    margin-right:2.89rem;
                  }

                }
              }
              .photos{
                display: flex;
                @include center;
                img{
                  height: 11.25rem;
                  width: 8.44rem;
                }
              }
            }
          }

          .btn-md{
            color: #fff;
          }

        }
      }
    }

  }

  .modal-btn{
    font-size: 1.2rem;
    padding: 1.3rem;
  }

  // About Page

  #about{
  
    main{

      .heading{
        margin-top:2rem ;
        .container{
          width: 40%;
        }
      }
  
      .icons{
        
        .container{
          width: 95%;
          .icon1{
            padding: 0 0.5rem;
            img{
              height: 3.5rem;
              width: 3.5rem;
            }
            h3{
              width: 90%;
              font-size:20px;
            }
          }
          .icon2{
            padding: 0 0.5rem;
            img{
              height: 3.5rem;
              width: 3.5rem;
            }
            h3{
              width: 100%;
              font-size:20px;
            }
          }
          .icon3{
            padding: 0 0.5rem;
            img{
              height: 3.5rem;
              width: 3.5rem;
            }
            h3{
              width: 80%;
              font-size:20px;
            }
          }
          .icon4{
            padding: 0 0.5rem;
            img{
              height: 3.5rem;
              width: 3.5rem;
            }
            h3{
              width: 70%;
              font-size:20px;
            }
          }
          .icon5{
            padding: 0 0.5rem;
            img{
              height: 3.5rem;
              width: 3.5rem;
            }
            h3{
              width: 65%;
              font-size:20px;
            }
          }
          
        }
      }
  
      .ainfo{
        grid-gap: 3rem;
        &-left{
          
          .text{
            width: 90%;
            h3{
              font-size:20px;
            }
            p{
              font-size:14px;
            }
          }
        }
        &-right{
          
          .img{
            width: 100%;
          }
        }
      }
    }
  }


  

}

// Tablets & small laptops

@include mediaMd{

  .nav-widescreens{
    display: none;
  }


  .showcase{
    .hero{
      margin-top: 0rem;
      .container{
        h1{
          font-size: 3rem;
        }
      }
    }
  }

  .ourport{
    grid-template-columns: 1fr;

    &-left{
      .container{
        display: flex;
        @include center;
        flex-direction: column;
        margin:3rem 0;
      }
    }

    .imgs{
      img{
        margin:1.5rem 3rem;
      }
    }

  }

  .why{
    grid-template-columns: 1fr;
    grid-gap:0; 

    &-left{
      justify-self: center;
      .container{
        display: flex;
        @include center;
        flex-direction: column;
        h3{
          text-align: center;
          //margin-bottom: 3rem ;
        }
        .why-img{
          display: none;
        }
      }
    }

    &-right{
      justify-self: center;
      .container{
        display: flex;
        @include center;
        flex-direction: column;
        margin-top:0;
        p{
          text-align: center;
          font-size:1rem;
        }
        .btn-md{
          float: none;
        }
      }
    }
  }

  .testimonials{
    display: flex;
    @include center;
    flex-direction: column;
    .container{
      display: flex;
      @include center;
      flex-direction: column;
      h2{
        margin-left:0;
      }
    }
    .test-cards{
      grid-template-columns: 1fr;
    }
  }



  .footer{
    @include center;
    flex-direction: column;
    .copyright{
     display: flex;
     @include center;
     flex-direction: column;
      p{
        margin:1rem;
      }
      .socials{
        margin-top: 1rem;
      }
    }
  }

  // CONTACT
  #contact{
    main{
      .heading{
        align-items: center;
        .container{
          width:100%;
        }
      }
      .boxes{
        .info-box{
          font-size: 1.2rem;
        }
      }
    }
  }

  // Services

  #services{
    main{
      .heading{
        display: flex;
        align-items: center;
        .container{
          width: 100%;
        }
      }

      .services-boxes{
        margin: 8rem 0;
        grid-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        &-box1{
          width: 25rem;
          height: 16.6rem;
          margin-right:0;
          grid-column: 1/2;
          grid-row: 1/2;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        &-box2{
          width: 25rem;
          height: 16.6rem;
          margin-left: 0;
          grid-column: 1/2;
          grid-row: 2/3;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        &-box3{
          width: 25rem;
          height: 16.6rem;
          grid-column: 1/2;
          grid-row: 3/4;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        &-box4{
          width: 25rem;
          height: 16.6rem;
          grid-column: 1/2;
          grid-row: 4/5;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
        &-box5{
          width: 25rem;
          height: 16.6rem;
          grid-column: 1/2;
          grid-row: 5/6;
          h1{
            font-size: 2rem;
            line-height: 3rem;
          }
        }
      }
    }

    //POPUPS
    .infopopups{

      .popup{
        right: 5%;
        width: 85%;

        .container{
          width: 85%;
          .heading{
            h3{
              font-size: 2rem;
            }
          }

          .reviews{
            
            .stars{
              
              i{
                font-size: 0.7rem;
              }
            }
            .numbers{
              margin-top: 0.13rem;
              p{
                font-size: 1rem;
              }
              span{
                margin-top: 0.1rem;
                font-size: 0.8rem;
              }
            }
          }

          .tabs{
            .tab-info{
              
              nav{
                
                .container{
                  
                  p{
                    font-size: 1rem;
                  }

                  .dot{
                    width: 0.59rem;
                    height: 0.56rem;
                  }

                  :nth-child(3){
                    margin-left:1.15rem;
                    margin-right:1.15rem;

                  }
                  :nth-child(4){
                    margin-left:2.65rem;
                    margin-right:2.65rem;
                  }

                }
              }
              .text{
                p{
                  font-size: 0.9rem;
                  margin: 2rem 0;
                }
              }
            }

            .tab-photo{
              
              nav{
                
                .container{
                  
                  p{
                    font-size: 1rem;
                  }

                  .dot{
                    width: 0.59rem;
                    height: 0.56rem;
                  }

                  :nth-child(3){
                    margin-left:1.44rem;
                    margin-right:1.44rem;
                  }
                  :nth-child(4){
                    margin-left:2.2rem;
                    margin-right:2.2rem;
                  }

                }
              }
              .photos{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3rem;
                img{
                  height: 10.25rem;
                  width: 7.44rem;
                  &:nth-child(1){
                    justify-self: start;
                  }
                  &:nth-child(2){
                    justify-self: start;
                  }
                  &:nth-child(3){
                    display: none;
                  }
                  
                }
              }
            }
          }

          .btn-md{
            color: #fff;
          }

        }
      }
    }
  }

  .modal-btn{
    font-size: 1.2rem;
    padding: 1.3rem;
  }

  // About Page

  #about{
  
    main{
      
      .heading{
        margin-top: 3.5rem;
        .container{
          width: 100%;
        }
      }
  
      .videosection{
        
        .container{
          width: 80%;
        }
      }
  
      .icons{
        .container{
          grid-template-columns: 1fr;
          grid-template-rows: repeat(5, 1fr);
          align-items: center;
          justify-items: center;
          .icon1{
            width: 50%;
            padding: 0rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border: none;
            margin: 1rem 0;
            img{
              margin-bottom: 0;
              margin-left: 1rem;
            }
            h3{
              width: 100%;
              text-align: left;
            }
          }
          .icon2{
            width: 70%;
            padding: 0rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 1rem 0;
            img{
              margin-left: 35%;
              margin-bottom: 0;
            }
            h3{
              width: 100%;
              text-align: left;
            }
          }
          .icon3{
            border-right: none;
            border-left: none;
            width: 45%;
            padding: 0rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 1rem 0;
            img{
              margin-bottom: 0;
            }
            h3{
              width: 100%;
              text-align: left;
            }
          }
          .icon4{
            border-right: none;
            width: 45%;
            padding: 0rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 1rem 0;
            img{
              margin-bottom: 0;
            }
            h3{
              width: 100%;
              text-align: left;
            }
          }
          .icon5{
            width: 45%;
            padding: 0rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 1rem 0;
            img{
              margin-bottom: 0;
            }
            h3{
              width: 100%;
              text-align: left;
            }
          }
          
        }
      }
  
      .ainfo{
        grid-template-columns: 1fr;
        @include center;
        &-left{
          grid-row: 3/4;
          .text{
            @include center;
            width: 80%;
            .line{
              width: 15%;
            }
            p{
              text-align: center;
            }
          }
        }
        &-right{
            
          .img{
            height: 17rem;
          }
          
        }
      }
    }
  }

}

// Smart Phones

@include mediaSm{

  .btn-lg{
    margin: 1rem;
  }

  .btn-md{
    font-size:12.8px;
  }

  h1{
    font-size:2rem;
  }

  h2{
    font-size:1.8rem;
  }

  h3{
    font-size:1.3rem;
  }

  .showcase{
    .nav-smallscreens{
      .nav-logo{
        h1{
          font-size:2rem;
          line-height: 0.83rem;
        }
        p{
          font-size:0.66rem;
        }
      }
      .menu-btn{
        .btn-line{
          width:18px;
          height:2px;
        }
        &.close{
          .btn-line{
            width:28px;
            height: 3px;
          }
        }
      }
    }

    .hero{
      .container{
        h1{
          font-size:2rem;
        }
        .btn-lg{
          font-size:1rem;
        }
      }
    }
  }

  .ourport{
    &-left{
      .container{
        display: flex;
        @include center;
        flex-direction: column;
        h2{
          text-align: center;
        }
        .btn-md{
          margin: none;
        }
      }
    }

    .imgs{
      img{
        height:13.125rem;
        width:10.078125rem;
      }
    }
  }

  .why{
    display: flex;
    @include center;
    flex-direction: column;
    &-left{
      .container{
        
        h3{
          width:auto;
          text-align: center;
          margin-bottom: 3rem;
        }
      }
    }

    &-right{
     
      .container{
        height: auto;
        p{
          font-size:0.8rem;
        }
        .btn-md{
          margin-bottom: 0.4rem;
        }
      }
    }
  }

  .testimonials{
    .test-cards{
      .test-card{
        width:187.5px;
        height:292.5px;
        img{
          width:52.5px;
          height:52.5px;
        }
        p{
          font-size:0.8rem;
        }
        .line{
          width: 43.5px;
        }
        .person{
          font-size:0.8rem;
        }
        .location{
          font-size:0.8rem;
        }
      }
    }
  }

  .question{
  
    .container{
      width:90%;
      padding:6rem 1.5rem;
  
      h2{
        margin-bottom: 3rem ;
      }
      p{
        margin-bottom:3rem;
      }
    }
  }

  // CONTACT
  #contact{
    height: 100%;
    .navs{
      .nav-smallscreens{
        height: 13vh;
        .nav-logo{
          h1{
            font-size:2rem;
            line-height: 0.83rem;
          }
          p{
            font-size:0.66rem;
          }
        }
        .menu-btn{
          top: 3rem;
          .btn-line{
            width:18px;
            height:2px;
          }
          &.close{
            .btn-line{
              width:28px;
              height: 3px;
            }
          }
        }
      }
    }
    main{
      .heading{
        .container{
          p{
            font-size:0.8rem;
          }
        }
      }
      .boxes{
        .info-box{
          font-size: 0.9rem;
          padding: 1rem 2rem;
          i{
            margin-right: 1rem;            
            margin-top: 1.1rem;
          }
        }
      }
    }
  }

  // MENU
  .navs{
    .nav-smallscreens{
      height: 13vh;
      .nav-logo{
        h1{
          font-size:2rem;
          line-height: 0.83rem;
        }
        p{
          font-size:0.66rem;
        }
      }
      .menu-btn{
        top: 3rem;
        .btn-line{
          width:18px;
          height:2px;
        }
        &.close{
          .btn-line{
            width:28px;
            height: 3px;
          }
        }
      }
    }
  }

  // Services

  #services{

    .navs{
      .nav-smallscreens{
        height: 13vh;
        .nav-logo{
          h1{
            font-size:2rem;
            line-height: 0.83rem;
          }
          p{
            font-size:0.66rem;
          }
        }
        .menu-btn{
          top: 3rem;
          .btn-line{
            width:18px;
            height:2px;
          }
          &.close{
            .btn-line{
              width:28px;
              height: 3px;
            }
          }
        }
      }
    }



    main{
      .heading{
        display: flex;
        align-items: center;
        .container{
          width: 100%;
        }
      }

      .services-boxes{
        margin: 8rem 0;
        grid-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        &-box1{
          height: 25rem;
          width: 16.6rem;
          margin-right:0;
          grid-column: 1/2;
          grid-row: 1/2;
          h1{
            font-size: 2rem;
            line-height: 3rem;
            margin-left: 1rem;
          }
        }
        &-box2{
          height: 25rem;
          width: 16.6rem;
          margin-left: 0;
          grid-column: 1/2;
          grid-row: 2/3;
          h1{
            font-size: 2rem;
            line-height: 3rem;
            margin-left: 1rem;
          }
        }
        &-box3{
          height: 25rem;
          width: 16.6rem;
          grid-column: 1/2;
          grid-row: 3/4;
          h1{
            font-size: 2rem;
            line-height: 3rem;
            margin-left: 1rem;
          }
        }
        &-box4{
          height: 25rem;
          width: 16.6rem;
          grid-column: 1/2;
          grid-row: 4/5;
          h1{
            font-size: 2rem;
            line-height: 3rem;
            margin-left: 1rem;
          }
        }
        &-box5{
          height: 25rem;
          width: 16.6rem;
          grid-column: 1/2;
          grid-row: 5/6;
          h1{
            font-size: 2rem;
            line-height: 3rem;
            margin-left: 1rem;
          }
        }
      }
    }


      //POPUPS
    .infopopups{

      .popup{
        right: 8%;
        width: 85%;
        padding: 2rem;

        .container{
          width: 85%;

          .heading{
            h3{
              font-size: 1.8rem;
            }
          }

          .reviews{
            
            .stars{
              
              i{
                font-size: 0.8rem;
              }
            }
            .numbers{
              margin-top: 0.35rem;
              margin-left: 0.8rem;
              p{
                font-size: 0.8rem;
              }
              span{
                margin-top: 0.18rem;
                font-size: 0.6rem;
              }
            }
          }

          .tabs{
            .tab-info{
              
              nav{
                
                .container{
                  
                  p{
                    font-size: 0.8rem;
                  }

                  .dot{
                    width: 0.39rem;
                    height: 0.36rem;
                  }

                  :nth-child(3){
                    margin-left:0.84rem;
                    margin-right:0.84rem;

                  }
                  :nth-child(4){
                    margin-left:2.89rem;
                    margin-right:2.89rem;
                  }

                }
              }
              .text{
                p{
                  font-size: 0.8rem;
                }
              }
            }

            .tab-photo{
              
              nav{
                
                .container{
                  
                  p{
                    font-size: 0.8rem;
                  }

                  .dot{
                    width: 0.39rem;
                    height: 0.36rem;
                  }

                  :nth-child(3){
                    margin-left:0.84rem;
                    margin-right:0.84rem;
                  }
                  :nth-child(4){
                    margin-left:1.55rem;
                    margin-right:1.55rem;
                  }

                }
              }
              .photos{
                display: flex;
                @include center;
                img{
                  height: 8.25rem;
                  width: 5.44rem;
                }
              }
            }
          }

          .btn-md-light{
            color: #fff;
            font-size: 0.6rem;
          }

        }
      }
    }
  }


  .modal-btn{
    font-size: 1.1rem;
    padding: 1.2rem;
  }

  #about{
    
    .navs{
      .nav-widescreens{
        .nav-links{
          .nav-link{
            a{

            }
          }      
          .nav-logo{
            
            h1{
              
            }
    
            p{
              
              
            }
            
          }
        }
      }
      .nav-smallscreens{
        
        .nav-logo{
          
          h1{
            
          }
        
          p{
            
          }
            
        }
        .menu-btn{
          
        }
      }
    }
  
    main{
      
      .heading{
        
        .container{
          
        }
      }
  
      .videosection{
        
        .container{
        
          .video{
            
          }
        }
      }
  
      .icons{
        
        .container{
          
          .icon1{
            
            img{
              
            }
            h3{
              
            }
          }
          .icon2{
            
            img{
              
            }
            h3{
              
            }
          }
          .icon3{
            
            img{
              
            }
            h3{
              
            }
          }
          .icon4{
            
            img{
              
            }
            h3{
              
            }
          }
          .icon5{
            
            img{
              
            }
            h3{
              
            }
          }
          
        }
      }
  
      .ainfo{
        
        &-left{
          
          .container{
            
            h3{
              
            }
            .line{
              
            }
            p{
              
            }
          }
  
          :nth-child(2){
            
          }
        }
        &-right{
          
          .container{
            
            img{
              
            }
          }
        }
      }
    }
  }

}